<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-accordion closeOthers="true">
        <app-accordion-group *ngFor = "let job of jobs" [accClass] = "stateClassMap[job.state]">

          <div app-accordion-heading>
            <div class="acc-list-item">
              <i *ngIf = "job.type == 'firewall'" class="fa fa-building" aria-hidden="true"></i>
              <i *ngIf = "job.type == 'build'" class="fa fa-laptop" aria-hidden="true"></i>
              {{ job.name }}
            </div>
            <div class="acc-list-item">{{ job.owner }}</div>
            <div class="acc-list-item">{{ job.timestamp | epochDate | date: 'medium' }}</div>
            <div class="acc-list-item">{{ job.state }}</div>
            <div class="acc-list-item">
              <app-progress-bar [data] = "{ progress: job.metrics.progress, state: job.metrics.state }" 
                [options] = "progressBarOptions">
              </app-progress-bar>
            </div>
            <div class="acc-list-item">
              <app-progress-bar [data] = "{ progress: job.build.progress, state: job.build.state }" 
                [options] = "progressBarOptions">
              </app-progress-bar>
            </div>
            <div class="acc-list-item">
              <app-progress-bar [data] = "{ progress: job.unitTest.progress, state: job.unitTest.state }" 
                [options] = "progressBarOptions">
              </app-progress-bar>
            </div>
            <div class="acc-list-item">
              <app-progress-bar [data] = "{ progress: job.functionalTest.progress, state: job.functionalTest.state }" 
                [options] = "progressBarOptions">
              </app-progress-bar>
            </div>
          </div>

          <div *ngIf = "job.state !== 'Pending'">
            <app-metrics-card (click) = "myModal.open()" [data] = "job.metrics"></app-metrics-card>
            <app-build-card (click) = "myModal.open()" [data] = "job.build"></app-build-card>
            <app-unit-test-card (click) = "myModal.open()" [data] = "job.unitTest"></app-unit-test-card>
            <app-unit-test-card (click) = "myModal.open()" [data] = "job.functionalTest"></app-unit-test-card>
            <app-result-card [data] = "job.result"></app-result-card>
          </div>

        </app-accordion-group>
      </app-accordion>
    </div>
  </div>
</div>
<modal #myModal>
    <modal-header>
        <h1>Detailed Job Status</h1>
    </modal-header>
    <modal-content>
        Here you can find detailed information about each process
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="myModal.close()">close</button>
    </modal-footer>
</modal>