/* You can add global styles to this file, and also import other style files */

/* Common styles for the cards */
/*.card-border-green {
  border: 4px solid #548039;
}

.card-border-red {
  border: 4px solid #be0712;
}

.card {
  position: relative;
  height: 300px;
  width: 300px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(196, 197, 196, 1);
  -moz-box-shadow: 10px 10px 10px 0px rgba(196, 197, 196, 1);
  box-shadow: 10px 10px 10px 0px rgba(196, 197, 196, 1);
  transition: box-shadow 200ms ease;
  &:hover {
    box-shadow: none;
  }
  .title {
    font-size: 25px;
    font-weight: bold;
    color: #61953f;
  }
  .arrow-container-left {
    position: absolute;
    top: 50px;
    left: 30px;
  }
  .arrow-container-right {
    position: absolute;
    top: 50px;
    right: 30px;
  }
  .arrow-green {
    background-color: #548039;
  }
  .arrow-red {
    background-color: #be0712;
  }
  .up-arrow-green {
    position: relative;
    .up {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 50px solid #548039;
    }
    .rect {
      position: absolute;
      top: 50px;
      left: 10px;
      width: 40px;
      height: 50px;
      background-color: #548039;
    }
    .number {
      position: absolute;
      top: 60px;
      left: 20px;
      color: white;
      font-size: 20px;
    }
  }
  
  .up-arrow-red {
    @extend .up-arrow-green;
    .up {
      border-bottom: 50px solid #be0712;
    }
    .rect {
      background-color: #be0712;
    }
  }
  .arrow-label {
    position: absolute;
    top: 100px;
    left: 25%;
  }
  .right-arrow-green {
    @extend .up-arrow-green;
    transform: rotate(90deg);
  }
}*/

// Variables

$green: #72ac4d;
$orange: #fed86e;
$red: #be0712;
$blue: #5e9cd3;
$gray: #ccc;

.mart15 {
  margin-top: 15px;
}

.mar20 {
  margin: 20px 0;
}

.mart30 {
  margin-top: 30px;
}

.list {
  margin-bottom: 10px;
  border: 1px solid #999;
}

.card {
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 20%;
}

.card-title {
  font-weight: bold;
}

.card-wrapper {
  border: 2px solid $green;
  padding: 10px;
  height: 240px;
  overflow: auto;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(196, 197, 196, 1);
  -moz-box-shadow: 10px 10px 10px 0px rgba(196, 197, 196, 1);
  box-shadow: 10px 10px 10px 0px rgba(196, 197, 196, 1);
  transition: box-shadow 200ms ease;
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}

.up-arrow {
  background: $green none repeat scroll 0 0;
  color: #fff;
  font-size: 20px;
  height: 30px;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  width: 30px;
  &::after {
    border-bottom: 30px solid $green;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: "";
    left: -15px;
    position: absolute;
    top: -30px;
  }
}

.right-arrow {
  background: $orange none repeat scroll 0 0;
  font-size: 20px;
  height: 30px;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  width: 45px;
  &::after {
    border-bottom: 30px solid transparent;
    border-left: 30px solid $orange;
    border-top: 30px solid transparent;
    content: "";
    position: absolute;
    right: -30px;
    top: -14px;
  }
}

.down-arrow {
  background: $green none repeat scroll 0 0;
  color: #fff;
  font-size: 20px;
  height: 30px;
  margin: 0 auto 0;
  position: relative;
  text-align: center;
  width: 30px;
  &::after {
    border-top: 30px solid $green;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: "";
    left: -15px;
    position: absolute;
    bottom: -30px;
  }
}

.arrow-red {
  background: $red;
  color: #fff;
}

.arrow-green {
  background: $green;
  color: #fff;
  &.up-arrow::after {
    border-bottom: 30px solid $green;
  }
}

.arrow-red.up-arrow::after {
  border-bottom: 30px solid $red;
}

.arrow-green.down-arrow::after {
  border-top: 30px solid $green;
}

.arrow-red.down-arrow::after {
  border-top: 30px solid $red;
}

.card-green {
  .card-title {
    color: $green;
  }
  .card-wrapper {
    border-color: $green;
  }
}

.card-blue {
  .card-title {
    color: $blue;
  }
  .card-wrapper {
    border-color: $blue;
  }
}

.card-red {
  .card-title {
    color: $red;
  }
  .card-wrapper {
    border-color: $red;
  }
}

.card-pending {
  .card-title {
    color: $gray;
  }
  .card-wrapper {
    border-color: $gray;
  }
}

.lap {
  color: $blue;
  i.fa {
    color: $blue;
    font-size: 80px;
  }
}

.lap-time {
  bottom: 0;
  left: 10px;
  position: absolute;
  right: 10px;
  width: auto;
}

.card-lap .card-wrapper {
  padding-bottom: 40px;
}

.graph-percent {
  color: grey;
  font-size: 24px;
  color: grey;
  font-size: 24px;
  > span {
    display: block;
    font-size: 10px;
  }
}

.code-cov {
  &.text-center > span {
    display: block;
    font-size: 10px;
  }
  bottom: 5px;
  left: 10px;
  position: absolute;
  right: 10px;
  width: auto;
}

.progress {
  background-color: #f6cbae;
  border-radius: 0;
  height: 40px;
  margin-bottom: 0;
}

.progress-bar {
  background-color: #c6dfb5;
  color: #3a5d36;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  > span {
    display: block;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
  }
}

.orange-text {
  color: $orange;
}

.red-text {
  color: $red;
}

.btn-primary {
  background: $blue none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
}

.card-result {
  h2 {
    margin: 0;
  }
  border: none;
}

.acc-body {
  border: 2px solid;
  float: left;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
}

.list-pending {
  border-color: #ccc;
  .acc-list {
    color: #aaa;
  }
}

.list-running {
  border-color: $blue;
  .acc-list {
    color: $blue;
  }
}

.list-rejected {
  border-color: $red;
  .acc-list {
    color: $red;
  }
}

.list-accepted {
  border-color: $green;
  .acc-list {
    color: $green;
  }
}

.acc-list-item:first-child {
  text-align: left;
  width: 20%;
}

.acc-list {
  margin-bottom: 30px;
  cursor: pointer;
}

.acc-list-item {
  &:nth-child(3) {
    width: 20%;
  }
  float: left;
  width: 10%;
}

.card-pending {
  .pending-state {
    font-size: 25px;
    color: $gray;
  }
}


@media all and (max-width: 992px) {
  .acc-list-item {
    width: 25%;
    margin-bottom: 10px;
    &:first-child, &:nth-child(3) {
      width: 25%;
      margin-bottom: 10px;
    }
  }
  .card {
    width: 33.3%;
  }
}

@media all and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
